{% extends 'shared/SamplesLayout.html' %}
{% load static %}

{% block addHeaderRefrences %}
<link rel="stylesheet" href="{% static 'Panel/HomePanel/css/HomePanel.css'%}">
<link rel="stylesheet" href="{% static 'Sidebar/css/sidebars.css'%}">
<link rel="stylesheet" href="{% static 'Panel/CodeBox.css'%}">

<style>

    
</style>
{% endblock addHeaderRefrences %}


<!-- sidebar -->
{% block sidebar %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" >
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Bike Sharing</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        Home
      </a>
    </li>
    <li>
      <a href="{% url 'BikeSharing:NoteBookPanel'%}" class="nav-link link-dark">
        Note Book
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        Dashboard   
      </a>
    </li>
     
    
  </ul>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class='nav-item'>
      <a href="{% url 'Panel:HomePanel'%}" class="nav-link link-dark">
        Sample works
      </a>
    </li>
    <li class='nav-item'>
        <a href="." class="nav-link link-dark">
          About me
        </a>
    </li>
  </ul>
</div>

{% endblock sidebar %}

<!-- content -->
{% block content %}
<br>
<h2>Bike sharing</h2>
<p>
    {% lorem 10 %}
</p>
<pre>
    <code><xmp>x="hello world"</xmp></code>
    <code><xmp>print (x)</xmp></code>
    <code><xmp>print (x)</xmp></code>
    <code><xmp>print (x)</xmp></code>
    <code><xmp>print (x)</xmp></code>
    <code><xmp>print (x)</xmp></code>
    <code><xmp>print (x)</xmp></code>
</pre>
{% endblock content %}


{% block addFooterRefrences %}
<script src="{% static 'Sidebar/js/sidebars.js' %}"></script>
{% endblock addFooterRefrences %}