{% extends 'shared/HomeLayout.html' %}
{% load static %}

{% block addHeaderRefrences %}
<link rel="stylesheet" href="{% static 'Panel/HomePanel/css/HomePanel.css'%}">

<style>

    
</style>

{% endblock addHeaderRefrences %}


{% block content %}
<section class="text-center container">
  <div class="row py-lg-5"  style='padding-bottom: 0rem!important;'>
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b>Work Samples</b></h1>
        <p class="lead text-muted">
            I put some of my work samples here.
            I hope you enjoy them :)
        </p>
        <p>
        <a href="#" class="btn btn-primary my-2">contact me</a>
        <a href="{% url 'Home:Home'%}" class="btn btn-secondary my-2">Home</a>
        </p>
    </div>
  </div>
</section>
<hr>
<div class="album py-5 " style='padding-top: 0rem!important;'>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm" style='height:425px'>
                    <a href="{% url 'BikeSharing:BikeSharingPanel'%}">
                    <img src="{% static 'BikeSharing/img/BikeSharing.jpeg'%}" width="100%" height="225" style='border-radius: 4px;'>
                    </a>
                    <div class="card-body">
                        <p class="card-text" style='text-align: justify'>
                            <h5>Bike sharing </h5>
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'BikeSharing:BikeSharingPanel'%}">  
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col" >
                <div class="card shadow-sm" style='height:425px'>
                    <a href="{% url 'Bitcoin:Chart'%}">
                        <img src="{% static 'Bitcoin/img/3.jpg'%}" width="100%" height="225" style='border-radius: 4px;'>
                    </a>
                    <div class="card-body">
                        <p class="card-text" style='text-align: justify'>
                            <h5>Bitcoin </h5>
                            A project to analyze Bitcoin and forecast its movement to help financial market analysts                            
                            #timeseries #Bitcoin
                        </p>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'Bitcoin:Chart'%}">  
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                            <small class="text-muted"></small>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style='height:425px'>
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: coming soon..." preserveAspectRatio="xMidYMid slice" focusable="false"><title>coming soon ...</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">coming soon ...</text></svg>
                    <div class="card-body">
                        <p class="card-text" style='text-align: justify'>
                            {% comment %} <h5>Title </h5> {% endcomment %}
                            coming soon ...</p>
                            <br><br><br><br>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}