<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seyedmahdi Amin</title>
    <!-- footerRefrences -->
    {% include 'shared/headerRefrences.html'%}
    {% block addHeaderRefrences %}{% endblock addHeaderRefrences %}

  </head>
  <body>
    <div>
        {% block content %}{% endblock content %}
    </div>
    
    <div>
        {% include 'shared/footer.html' %}
    </div>
    <!-- footerRefrences -->
    {% include 'shared/footerRefrences.html'%}
    {% block addFooterRefrences %}{% endblock addFooterRefrences %}
  </body>
</html>