<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Seyedmahdi Amin</title>
        <!-- footerRefrences -->
        {% include 'shared/headerRefrences.html'%}
        {% block addHeaderRefrences %}{% endblock addHeaderRefrences %}

    </head>
    <body>
        <div class='container-fluid'>

        <div class='row'>
            <div class='col-md-2 col-sm-3'>
                {% block sidebar %}{% endblock sidebar %}
            </div>
            {% comment %} <div class="b-example-divider b-example-vr"></div> {% endcomment %}
            <div class='col-md-10 col-sm-9' style='padding-top: 10px;'>
                {% block content %}{% endblock content %}
            </div>
            
            <div class='container'>
                {% include 'shared/footer.html' %}
            </div>
        </div>
        </div>
        <!-- footerRefrences -->
        {% include 'shared/footerRefrences.html'%}
        {% block addFooterRefrences %}{% endblock addFooterRefrences %}
    </body>
</html>